@import url(http://fonts.googleapis.com/css?family=Roboto:400+700);
#chart {
    width: 100%;
    height: 300;
    margin: 30px auto 0;
    display: block;
}

#chart #numbers {
    height: 100%;
    width: 60px;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    margin-top: -70px;
}

#chart #numbers li {
    text-align: right;
    /* padding-right: 1em; */
    list-style: none;
    height: 40px;
    /* border-bottom: 1px solid #444; */
    position: relative;
    bottom: -27px;
    color: #ccc;
}

#chart #numbers li:last-child {
    height: 30px;
}

#chart #numbers li span {
    color: #282b33;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 12px;
}

#chart #bars {
    display: inline-block;
    width: 425px;
    height: 300px;
    padding: 0;
    margin: 0;
}

#chart #bars li {
    display: table-cell;
    width: 70px;
    height: 300px;
    margin: 0;
    text-align: center;
    position: relative;
}

#chart #bars li .bar {
    display: block;
    width: 40px;
    margin-left: 15px;
    position: absolute;
    bottom: 0;
    background: #5a68b5;
}

#chart #bars li .bar:hover {
    background: #fbb601;
    cursor: pointer;
}

#chart #bars li .bar:hover:before {
    color: white;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}

#chart #bars li span {
    color: #282b33;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 0;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
}

@media screen and (max-width: 980px) {
    #chart #numbers {
        height: 100%;
        width: 10%;
        margin: 0;
        padding: 0;
        display: inline-block;
        float: left;
        margin-top: -70px;
    }
    #chart #bars {
        display: inline-block;
        width: 90%;
        height: 300px;
        padding: 0;
        margin: 0;
        float: right;
    }
    #chart #bars li {
        display: table-cell;
        width: 30px;
        height: 300px;
        margin: 0;
        text-align: center;
        position: relative;
    }
    #chart #bars li .bar {
        display: block;
        width: 20px;
        margin-left: 15px;
        position: absolute;
        bottom: 0;
    }
    #chart #bars li span {
        color: #282b33;
        width: 100%;
        position: absolute;
        bottom: -5em;
        left: 0;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
    }
}

@media only screen and (max-width: 980px) and (orientation: landscape) {
    #chart #bars li {
        display: table-cell;
        width: 50px;
        height: 300px;
        margin: 0;
        text-align: center;
        position: relative;
    }
}

.rotate-text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: relative;
    width: 200px;
    left: -96px;
    top: 140px;
    color: #7c8a96;
    font-family: 'AvenirNext LT Pro Regular';
    font-size: 15px;
}

.about-right-sect h3 {
    margin-top: 43px;
    font-size: 15px;
    color: #7c8a96;
    text-align: center;
    width: 455px;
    float: right;
    position: relative;
    line-height: 20px;
}

.about-right-sect h3:after {
    content: '';
    width: 12px;
    height: 12px;
    left: 93px;
    top: 4px;
    position: absolute;
    background: #5a68b5;
}

.left-vector-left {
    width: 50%;
    height: 600px;
    float: left;
    margin: 0;
    background: #5a68b5;
    background: linear-gradient(135deg, #1c275e 0%, #5a68b5 100%);
    background: -webkit-linear-gradient(135deg, #1c275e 0%, #5a68b5 100%);
}

.about-full-wrap p span b {
    color: #fab300;
}

.about-full-wrap p span {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

.left-vector-left {
    width: 50%;
    height: 600px;
    float: left;
    margin: 0;
    background: #5a68b5;
    background: linear-gradient(135deg, #1c275e 0%, #5a68b5 100%);
    background: -webkit-linear-gradient(135deg, #1c275e 0%, #5a68b5 100%);
}
.left-vector-right p {
    line-height: 23px;
    text-align: justify;
}

.left-vector-right {
    width: 50%;
    height: 600px;
    float: right;
    margin: 0;
    background: #f6f9f9;
    padding: 45px 70px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

img.about {
    width: 60px;
}
img.cryptocurrency {
    width: 60px;
}